@import 'maptalks/dist/maptalks.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
}

#app {
  position: absolute;
  width: 100%;
  height: 100%;
}
